* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 3vh 5vw 2vh 5vw !important;
    box-shadow: 2px 5px 20px #d1d1d1;
}

.home {
    background-color: #f0f1f0;
    height: 60vw;
    min-height: 50vh;
    max-height: 100vh;
    box-shadow: -5px 5px 20px #dadada97;
}

.collapse {
    width: 85%;
    margin: left;
}

.navbar-collapse {
    flex-grow: 0 !important;
}
.collapse {
    justify-content: space-between;
}

.drop-search {
    display: none !important;
}

.home-body {
    width: 90% !important;
}

.home-text > * {
    margin-bottom: 15px;
}

.home-text {
    padding: 15vh 0 0 0 !important;
}

.home-text  h1 {
    font-size: 5vw;
    font-weight: 400;
    filter: drop-shadow(5px 5px 5px #07343b5c);
    margin-bottom: 50px;
}

.home-text  h6 {
    font-size: 2vw;
    font-weight: 400;
}

.button-orange {
    font-size: 1rem !important;
}
.col-8 img {
    width: 100%;
    height:50vw !important;
    padding-top: 5vh;
}

.icons {
    width: 200px;
    justify-content: space-between;
    flex-direction: row !important;
}


.button-orange {
    background-color: #df6e19 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.shop .container-fluid{
    padding: 8vh 5vw 3vh 5vw !important;
}

.shop-row > * {
    margin-bottom: 5vh !important;
}

.categ {
    width: 100% !important;
    height: 100% !important;
}
.categ i {
    font-size: 3rem;
}

.categ p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 3vh;
}

.categ h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2vw;
}

.card {
    width: 100% !important;
    height: 100% !important;
    background-color: #f0f1f0 !important;
    position: relative;
}

.product-row > * {
    margin-top: 5vh !important;
}


.card img {
    width: 70%;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
}

.b-card {
    max-width: 80vh;
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
}

.b-card img {
    width: 100%;
    height: 30vw;
    max-height: 50vh;

}

.card-img-overlay {
    width: 70%;
    height: 70%;
    margin: auto;
    border: 5px solid white;
}


h5 {
    margin: auto;
    padding: 10px 0 30px 0;
}

.products {
    padding: 5vh 5vw 10vh 5vw;
    box-shadow: 2px 5px 20px #d8d8d8;

}

.products-links {
    justify-content: space-between;
    align-items: center;
    padding: 0 24px !important;
    margin: auto;
}
.card-body {
    padding-left: 5% !important;
    background-color: white;
}

.navigation {
    width: 50%;
    justify-content: space-evenly;
}

.rating {
    width: 150px;
}

.card-body > * {
    margin-bottom: 10px;
}

.card-img-top {
    width: 50%;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #df6e19;

}
.discount {
    background-color: #f53f4d;
    left: auto;
    right: 10px;

}

button {
    transition: transform, filter .3s;
}

button:hover, a:hover {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.132));
    cursor: pointer;
    transform: scale(1.1);
    
}

.card {
    transition: transform .3s;
}

.card:hover {
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.31));
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .b-card img {
        height: 50vw;
    }
}

@media (max-width: 1100px) {
    .search {
        display: none!important;
    }

    .drop-search {
        display: block !important;
    }
}

@media (max-width: 768px) {
    .drop-search {
        display: none !important;
    }

    .navigation {
        display: none !important;
    }
    .container-fluid {
        justify-content: space-between !important;
    }
    .col-md-6 {
        width: 80% !important;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .icons {
        display: none !important;
    }
}
 
    
